body {
    background-color: rgb(155, 171, 184);
}

/* .projects-container {
    padding: 25px;
    
} */

.project-img-thumbnail {
    width: 270px;
    height: 200px;
    /* display: flex;
    flex-direction: column; */
}

.title-row {
    margin-left: 10px;
    margin-bottom: 10px;
}

.container {
    padding: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.card-body {
    margin-left: 60px;
}

.card {
    padding: 10px;
    margin: 10px;
}